html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__inner {
  padding: 150px;
}

.weather__info {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
}
.btn__refresh {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
.btn__refresh:hover {
  background-color: #218838;
}
